
<div class="n-container">
    <div class="n-name">
        <h1 class="first-name">W</h1>
        <h1 class="first-name">e</h1>
        <h1 class="first-name">l</h1>
        <h1 class="first-name">l</h1>
        <h1 class="first-name">i</h1>
        <h1 class="first-name">n</h1>
        <h1 class="first-name">g</h1>
        <h1 class="first-name">t</h1>
        <h1 class="first-name">o</h1>
        <h1 class="first-name">n</h1>
        <h1 class="first-name">&nbsp;</h1>
        <h1 class="last-name">T</h1>
        <h1 class="last-name">e</h1>
        <h1 class="last-name">i</h1>
        <h1 class="last-name">x</h1>
        <h1 class="last-name">e</h1>
        <h1 class="last-name">i</h1>
        <h1 class="last-name">r</h1>
        <h1 class="last-name">a</h1>
    </div>

    <div class="n-profession">
        <h2>Software Developer</h2>
    </div>
</div>
