<section class="s-container">
  <div class="s-card">
    <div class="s-content">
      <p class="s-text">Uma ótima noite pra você, eu sou o
        <span class="h-text">Wellington Teixeira!</span>
      </p>
      <p class="g-text">Desenvolvedor Front-End</p>
      <div class="s-buttons">
        <button class="primary-button">Download CV</button>
        <button class="primary-button">Contato</button>
      </div>
    </div>
    <ng-lottie [options]="lottieOptions" width="500px" height="500px"></ng-lottie>
  </div>
</section>
