.s-container {
  gap: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 10rem;

  .s-card {
    gap: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 5rem;
    border-radius: 8px;
    background: linear-gradient(#002435 0%, #00429d 100%);
  }

  .s-text {
    font-size: 2rem;
    font-weight: bold;
    line-height: normal;
    max-width: 28.125rem;
    color: var(--secundary-color);
  }

  .h-text {
    color: var(--primary-color);
  }

  .g-text {
    font-weight: bold;
    color: var(--grey);
    font-size: 1.125rem;
  }

  .s-buttons {
    gap: 1.125rem;
    display: flex;
    margin-top: 2.375rem;

    .primary-button {
      border: none;
      font-weight: 600;
      border-radius: 2rem;
      padding: 0.5rem 3rem;
      color: var(--secundary-color);
      background: linear-gradient(#5603A8 0%, #3008B5 100%);
    }
  }
}