:root {
  --primary-color: #00cbd7;
  --secundary-color: #FFFFFF;
  --tertiary-color: #000000;
  --grey: #999999;

  --font-family: 'Inter';
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: var(--font-family);
  background: linear-gradient(#001a47 0%, #3d004d 100%);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: var(--font-family);
}